#mat-toolbar-header {
    font-size: 1.2em;
    letter-spacing: normal;
}

#mat-sidenav-container {
    position: absolute;
    top: 64px;
    bottom: 0px;
    width: 100%;
}

#mat-nav-list {
    padding: 0;
}

#mat-sidenav-content {
    padding: 16px;
}